.card {
  background-color: white;
  max-width: 700px;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 15px;
}

.card p {
  text-align: left;
  line-height: 30px;
}

.card hr {
  opacity: 0.2;
}