.header {
  background-color: #e59c53;
  height: 150px;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  user-select: none;
}

.header h1 {
  padding-top: 25px;
  margin: 0;
  color: white;
  position: absolute;
  width: 100%;
  top: 6px;
  font-size: 1.8rem;
}

.header img {
  width: 45px;
  float: right;
  padding-bottom: 20px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.header.liked {
  height: 100px;
}