.header {
  background-color: #e59c53;
  height: 100px;
  color: white;
}

.header h1 {
  padding-top: 25px;
  margin: 0;
  color: white;
  position: absolute;
  width: 100%;
  top: 6px;
}

.header img {
  width: 45px;
  float: right;
  padding-bottom: 20px;
  position: absolute;
  right: 30px;
  top: 30px;
}